@font-face {
  font-family: "Poppins-Extrabold";
  src: url('./Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('./Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins-Semibold';
  src: url('./Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('./Poppins-Regular.ttf');
}
:root{
  --black-color: #232631;
  --purple-color: #5A4FCF;
  --brown-color : #656565;
  --yellow-color : #FFB800;
  --dark-yellow-color : #FDC886;
}



body {
  background-color: #fafafa;
}

header.header{
  margin-top: 2rem;
}
.hero .container .images-hero {
  overflow: hidden;
  width: 1400px;
}
.navbar-collapse{
  gap: 14rem;
}
.nav-item a{
  color: var(--black-color)!important;
  font-family: 'Poppins-Medium',sans-serif;
}
.nav-item a.active{
  border-bottom: 2px solid var(--purple-color);
}
.nav-item a:hover{
  color: var(--brown-color) !important;
}

.logo img{
    width: 34px;
    height: 34px;
}

.logo h2{
    margin: 0;
    color: var(--black-color);
    font-family: 'Poppins-ExtraBold', sans-serif;
}
.nav-search-bar div {
  background-color: white;
  width: 250px;
  padding-left: 2rem;
  border-radius: 12px;
  margin-right: 1rem;
}
.nav-search-bar{
  margin-bottom: 0;
}
.nav-search-bar div img{
    width: 18px;
    height: 18px;
}
.nav-search-bar div input {
  border: none;
  width: 100%;
  outline: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 12px;
  font-family: 'Poppins-Medium',sans-serif;
  color: var(--brown-color) !important;
}

.nav-search-bar button {
  background-color: #5a4fcf4d;
  color: #5A4FCF;
  outline: none;
  border: none;
  border-radius: 12px;
  font-family: 'Poppins-Semibold';
  font-size: 14px;
  padding: 1rem 1.5rem;
}
.nav-search-bar button:hover{
  background-color: var(--purple-color);
  color: white;
}
.nav-search-bar button:focus{
  border: none;
  outline: none;
} 





.hero .card{
  border: none;
  width: 300px;
  border-radius: 24px;
  margin-top: 12rem;
  margin-bottom: -25rem;
}


.stars{
  margin-bottom: 1rem;
}
.stars .star img {
  width: 14px;
  height: 14px;
}
.stars div{
  height: 14px;
}
.stars div p{

  font-size: 14px;
  margin-bottom: 0;
  color: var(--yellow-color);
  font-family: 'Poppins-Semibold', sans-serif;
}

.stars div p span {
  font-size: 14px;
  margin-bottom: 0;
  color: var(--brown-color);
  font-family: 'Poppins-Regular', sans-serif;
}

.card-body h5{
  font-family: 'Poppins-SemiBold',sans-serif;
  font-size: 18px;
}

.card-body p.card-text{
  font-family: 'Poppins-SemiBold';
  color: var(--brown-color);
  margin-bottom: 0;
  margin-bottom: 0.25rem;
  font-size: 15px;
}

.card-location img{
  width: 20px;
  height: 20px;
}

.card-location p {
  font-family: 'Poppins-Regular';
  margin-bottom: 0;
  font-size: 14px;
  color: var(--brown-color);
}

.card-body a.btn{
  margin-top: 2rem;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: var(--dark-yellow-color);
  color: var(--black-color);
  font-family: 'Poppins-SemiBold',sans-serif;
  padding: 1rem;
  font-size: 14px;
}
.card-body a.btn:hover{
  color: white;
}
.card-body a.btn span{
  margin-left: 0.4rem;
}

.info{
  margin-top: 1rem;
}
.info img{
  width: 20px;
  height: 20px;
}

.info p{
  margin-bottom: 0;
  font-family: 'Poppins-Regular',sans-serif;
  color: var(--brown-color);
  font-size: 14px;
}

.images-collection{
  margin-left: 5rem;
}

.images-collection .image img{
  width: 1128px;
  height: 564px;
  
}



.content-benefit{
  margin-bottom: 2rem;
}

.benefit-title{
  margin-top: 6rem;
}

.content-benefit .cards{
  margin-top: 3rem;
}

.benefit-title h5{
  font-family: 'Poppins-SemiBold';
  font-size: 18px;
  text-align: center;
  color: var(--purple-color);
  text-transform: uppercase;
}

.benefit-title h4{
  font-family: 'Poppins-SemiBold';
  font-size: 28px;
  text-align: center;
  color: var(--black-color);
  
}


.benefit-img{
  width: 80px;
  height: 80px;
}

.benefit-card{
  border: none;
  width: 300px;
  border-radius: 24px;
  padding-top: 2rem;
  width: 320px;
}
.benefit-card:hover{
  transition: all 0.3s ease-in-out;
  margin-top: -1rem;
}
.benefit-card .card-title{
  font-size: 18px;
  font-family: 'Poppins-SemiBold',sans-serif;
}

.benefit-card .card-body p{
  font-family: 'Poppins-Regular',sans-serif;
  font-size: 16px;
}
.btn-benefit.focused-benefit{
  background-color: var(--dark-yellow-color);
}
.btn-benefit{
  margin-top: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Poppins-SemiBold',sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  width: 100%;
  color: var(--black-color);
  background-color: white;
  border-radius: 12px 12px 24px 24px;
}
.btn-benefit:hover{
  background-color: var(--dark-yellow-color);
}
.btn-benefit span{
  margin-left: 0.2rem;
}


.top-featured{
  margin-top: 6rem;
}

.top-featured-desc{
  flex: 3;
}

.top-featured-desc h5{
  font-family: 'Poppins-SemiBold';
  font-size: 16px;
  color: var(--purple-color);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.top-featured-desc h4{
  font-family: 'Poppins-Semibold';
  font-size: 28px;
  color: var(--black-color);
  margin-bottom: 1.25rem;
}
.top-featured-desc p{
  width: 350px;
  font-family: 'Poppins-Regular';
  font-size: 16px;
  color: var(--brown-color);
  margin-bottom: 2.4rem;
}
.top-featured-desc a.btn{
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: var(--dark-yellow-color);
  color: var(--black-color);
  font-family: 'Poppins-SemiBold',sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 16px;
}
.top-featured-desc a.btn:hover{
  color: white;
}
.top-featured-desc a.btn span{
  margin-left: 0.4rem;
}
.top-featured-images{
  flex: 7;
}

.images-card-featured.bigger{
  margin-top: -130px;
}


.images-card-featured img{
  height: 475px;
  width: 214px;
}


.images-card-featured .card{
  border: none;
  outline: none;
  width: 352px;
  border-radius: 24px;
  padding: 0.5rem;
}
.images-card-featured .card .card-body .card-location img{
  width: 24px;
  height: 24px;
}
.images-card-featured .card{
  position: relative;
  z-index: 1;
  top: 451px;
  left: 24px;
}
.card-btn-img button{
  padding: 0;
  border: none;
  outline: none;
  background-color: var(--dark-yellow-color);
  width: 36px;
  height: 36px;
  border-radius: 12px;
  margin-right: 1rem;
}

.card-btn-img button:hover{
  background-color: var(--dark-yellow-color);
}

.card-btn-img button img{
  width: 24px;
  height: 24px;
}
.card-btn-img button img:hover{
  filter: brightness(0) invert(1)
}
.images-card-featured img.bigger {
  height: 475px;
  width: 400px;
}





.restaurant-list{
  margin-top: 8rem;
}

.restaurant-list-title .restaurant-list-text h5{
  font-family: 'Poppins-SemiBold';
  font-size: 16px;
  color: var(--purple-color);
  text-transform: uppercase;
}

.restaurant-list-title .restaurant-list-text h4{
  font-family: 'Poppins-Semibold';
  font-size: 28px;
  color: var(--black-color);
}

.restaurant-list-btn button img{
  width: 24px;
  height: 24px;
}

.restaurant-list-btn button{
  font-family: 'Poppins-Medium',sans-serif;
  font-size: 16px;
  padding: 1rem;
  color: var(--brown-color);
  border-radius: 12px;
  background-color: #F2F2F2;
}


.restaurant-list-cards .card{
  border: none;
  outline: none;
  width: 352px;
  border-radius: 24px;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
  top: 382px;
  left: 31px;

}

.restaurant-list-cards img{
  height: 415px;
  width: 420px;
}

.card .card-body .card-title.restaurant-card-text{
  font-size: 18px;
}
.card .card-body .card-text.restaurant-card-text{
  font-size: 18px;
}


.restaurant-item{
  margin-top: -6rem;
}
.restaurant-item:hover{
  transition: all 0.3s ease-in-out;
  margin-top: -7rem;
}

.restaurant-list div a.btn{
  margin-top: 4rem;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: var(--dark-yellow-color);
  color: var(--black-color);
  font-family: 'Poppins-SemiBold',sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 16px;
}

.restaurant-list div a.btn:hover{
  background-color: var(--dark-yellow-color);
  color: white;
}




.recomendation-chef{
  margin-top: 8rem;
}


.chef{
  margin-top: -15.25rem;
}

.chef .card-verified{
  width: 160px;
  height: 200px;
  border-radius: 24px;
  position: relative;
  top: 25%;
  left: 77%;
}

.chef .card h5{
  font-size: 18px;
  font-family: 'Poppins-SemiBold',sans-serif;
}
.chef .card p{
  font-size: 16px;
  font-family: 'Poppins-Regular',sans-serif;
}
.chef .img{
  margin-left: 4rem;
}
.chef .img img{
  width: 500px;
  height: 800px;
}
.chef .card img {
  width: 60px;
  height: 60px;
}

.chef .card-chef-details{
  top: -20%;
  width: 330px;
  border-radius: 24px;
}
.chef .card-chef-details img{
  width: 80px !important;
  height: 100px !important;
}
.chef .card-body{
  margin-top: 0.25rem;
}
.chef .card-body h5{
  margin-bottom: 0;
}
.chef .card-chef-details a.btn{
  margin-top: 0.75rem;
  padding: 0;
  outline: none;
  font-size: 16px;
  font-family: 'Poppins-SemiBold', sans-serif;
  background-color: white;
  color: var(--dark-yellow-color);
}

.chef .card-chef-details a.btn:hover{
  color: var(--black-color);
}


.chef-desc {
  margin-left: 8rem;
  width: 100%;
}

.chef-desc .chef-title h5{
  font-family: 'Poppins-SemiBold',sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--purple-color);
}

.chef-desc .chef-title h4{
  font-family: 'Poppins-SemiBold',sans-serif;
  font-size: 32px;
  color: var(--black-color);
}

.chef-item{
  margin-bottom: 2rem;
}

.chef-item.active{
  background-color: white;
  border-radius: 24px;
  padding-right: 1rem;
}
.chef-item .card-body .card-text{
  font-size: 16px;
  font-family: 'Poppins-Regular',sans-serif;
  text-transform: uppercase;
}
.chef-item .card{
  width: 100%;
  border: 0;
  background-color: transparent;
}
.chef-item .card-body .card-title{
  font-size: 20px;
}
.chef-item .card-body div img{
  width: 24px;
  height: 24px;
}
.chef-item .card-body div p{
  font-size: 16px;
  font-family: 'Poppins-Regular',sans-serif;
  margin-bottom: 0;
  color: var(--brown-color);
}

.chef-item .profile-chef-details a.btn{
  font-size: 16px;
  font-family: 'Poppins-Medium';
  border: 0;
  padding: 0;
  width: 130px;
  background-color: transparent;
  color: var(--dark-yellow-color);
}

.chef-list .button{
  margin-top: 5rem;
}

.chef-list .button button{
  font-size: 16px;
  font-family: 'Poppins-SemiBold';
  border: none;
  border-radius: 12px;
  padding: 1rem;
  width: 170px;
  color: var(--black-color);
  background-color: var(--dark-yellow-color);
}

.chef-list .button button:hover{
  color: white;
}





@media (max-width: 1400px){
  .logo img{
    width: 24px;
    height: 24px;
  }
  .logo h2{
    font-size: 25px;
  }
  .nav-search-bar button{
    padding: 1rem;
    font-size: 14px;
  }
  .navbar-collapse{
    gap: 5rem;
  }
  .nav-item a{
    font-size: 12px;
  }
  .nav-item{
    padding: 0;
  }


  .hero .card{
    
  }
  .card-body h5{
    font-size: 14px;
  }
  .card-body p.card-text{
    font-size: 13px;
  }
  .card-location p {
    font-size: 12px;
  }
  .card-body a.btn{
    font-size: 12px;
    padding: 0.5rem;
  }
  
  .info img{
    width: 18px;
    height: 18px;
  }
  .info p{
    font-size: 12px;
  }








  .images-collection{
    gap: 0.5rem !important;
    margin-left: 3rem;
  }
  
  .images-collection .image img{
    width:800px;
    height: 500px;
  }

  .hero .container .images-hero {
    overflow: hidden;
    width: 100%;
  }

  .images-card-featured img{
    height: 300px;
    width: 120px;
  }
  .images-card-featured img.bigger {
    height: 300px;
    width: 250px;
  }
  .images-card-featured.bigger{
    margin-top: -7rem;
    margin-right: 00px;
  }
  .images-card-featured .card{
    padding: 0;
    width: 230px;
    position: relative;
    z-index: 1;
    top: 280px;
    left: 10px;
  }
  .images-card-featured .card .card-body .card-title p{
    font-size: 12px;
  }.images-card-featured .card .card-body .card-title p span{
    font-size: 12px;
  }

  .images-card-featured .card .card-body h5{
    font-size: 14px;
  }
  .images-card-featured .card .card-body .card-location p{
    font-size: 12px;
  }
  


  .benefit-title h5{
    font-size: 16px;
  }
  .benefit-title h4{
    font-size: 24px;
  }
  .benefit-img{
    width: 60px;
    height: 60px;
  }
  .benefit-card{
    width: 280px;
  }
  .benefit-card .card-title{
    font-size: 16px;
  }
  .benefit-card .card-body p{
    font-size: 14px;
  }
  .btn-benefit{
    margin-top: 0rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 13px;
  }




  .top-featured-desc h5{
    font-size: 15px;
  }
  .top-featured-desc h4{
    font-size: 24px;
  }
  .top-featured-desc p{
    font-size: 14px;
  }
  .top-featured-desc a.btn{
    font-size: 14px;
  }





  .restaurant-list-title .restaurant-list-text h5{
    font-size: 15px;
  }
  .restaurant-list-title .restaurant-list-text h4{
    font-size: 24px;
  }
  .restaurant-list-btn button img{
    width: 18px;
    height: 18px;
  }
  .restaurant-list-btn button{
    padding: 0.75rem;
    font-size: 14px;
  }

  .restaurant-list div a.btn{
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    font-size: 14px;
  }
  
  .restaurant-list-cards img{
    height: 295px;
    width: 300px;
  }
  .restaurant-list-cards .card{
    width: 260px;
    border-radius: 24px;
    padding: 0rem;
    position: relative;
    z-index: 1;
    top: 280px;
    left: 20px;
  
  }
  .card .card-body .card-title.restaurant-card-text{
    font-size: 14px;
  }
  .card .card-body .card-text.restaurant-card-text{
    font-size: 12px;
  }
  



  .chef{
    margin-top: -12.5rem;
  }
  .chef .img img{
    width: 450px;
    height: 700px;
  }

  .chef .card img {
    width: 55px;
    height: 55px;
  }
  .chef .card-verified{
    padding: 0;
    width: 120px;
    height: 150px;
    position: relative;
    top: 25%;
    left: 80%;
  }

  .chef .card h5 {
    font-size: 14px;
  }
  .chef .card p{
    font-size: 12px;
  }
  .chef .card-chef-details img{
    width: 50px !important;
    height: 70px !important;
  }
  .chef .card-chef-details{
    top: -20%;
    width: 250px;
  }
  .chef .card-chef-details a.btn{
    font-size: 12px;
  }

  .chef-desc {
    margin-left: 4rem;
  }
  .chef-item .card-body div p{
    font-size: 12px;
  }
  .chef-item .card-body .card-text {
    font-size: 14px;
  }
  .chef-item .card-body .card-title{
    font-size: 16px;
  }
  .chef-item .profile-chef-details a.btn{
    font-size: 12px;
  }
  .chef-list .button button{
    font-size: 14px;
  }
  .chef-desc .chef-title h5{
    font-size: 14px;
  }
  .chef-desc .chef-title h4{
    font-size: 24px;
  }
  .chef-item{
    margin-bottom: 1rem;
  }
}